PROJECT_ROOT=/path/to/anonymous/repository
DATA_DIR=${PROJECT_ROOT}/data
MODEL_DIR=${PROJECT_ROOT}/models
CKPT_DIR=${PROJECT_ROOT}/checkpoints
LOG_DIR=${PROJECT_ROOT}/logs
TENSORBOARD_DIR=${PROJECT_ROOT}/tensorboard
WANDB_ENTITY=<ANONYMIZED_WANDB_ENTITY>
